*.class
.classpath
.flagged
.gradle/
.project
.settings/

hs_err_pid*

/bin
/_public
/build
/_deploy
/openshift

/misc/database/app.h2.db
/misc/database/app.h2.db.backup.zip
/misc/database/app.trace.db
/misc/database/repository
/misc/logs