@font-face {
  font-family: 'entypo';
  src: url('/assets/fonts/entypo/entypo.eot');
  src: url('/assets/fonts/entypo/entypo.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/entypo/entypo.woff') format('woff'), url('/assets/fonts/entypo/entypo.ttf') format('truetype'), url('/assets/fonts/entypo/entypo.svg#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'entypo-social';
  src: url('/assets/fonts/entypo-social/entypo-social.eot');
  src: url('/assets/fonts/entypo-social/entypo-social.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/entypo-social/entypo-social.woff') format('woff'), url('/assets/fonts/entypo-social/entypo-social.ttf') format('truetype'), url('/assets/fonts/entypo-social/entypo-social.svg#entypo-social') format('svg');
  font-weight: normal;
  font-style: normal;
}
span.entypo {
  font-family: 'entypo';
  font-size: 2em;
}
span.entypo-social {
  font-family: 'entypo-social';
  font-size: 2em;
}
body {
  background: #000000 url('/assets/images/body-background.png');
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 28px;
}
body > header {
  margin-top: 25px;
  margin-bottom: 25px;
}
body > header h1 {
  font-size: 56px;
}
body > header > .container-fluid {
  color: white;
  padding: 0px 25px;
}
body > header > .container-fluid div.row {
  display: flex;
  align-items: center;
}
body > header div.enlaces img {
  margin-right: 5px;
}
body > header div.imagen-cabecera {
  height: 250px;
  margin-top: 20px;
  text-align: center;
}
body > header div.imagen-cabecera div.imagen {
  height: 250px;
  /*
			background-attachment: fixed;
			background-position: center center;
			background-size: cover;
			background-image: @header-image;
*/

}
body > footer {
  margin-bottom: 50px;
}
body > footer > .container-fluid {
  background: url('/assets/images/footer-background.png');
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid #e0e0e0;
  font-size: 14px;
}
body > footer .footer {
  padding: 25px 25px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.4em;
}
a {
  color: #417623;
}
a:visited {
  color: #569d2f;
}
a:hover,
a:active {
  color: #417623;
}
a.blogstack,
a.blogstack:visited {
  color: white;
  text-decoration: none;
}
a.header {
  color: white;
  text-decoration: none;
  margin: 10px 10px;
}
a.header:hover,
a.header:active {
  color: #569d2f;
}
span.header.icon {
  font-size: 6em;
}
article a.label {
  padding: 0px;
  padding-right: 10px;
}
section.data {
  padding: 40px 0px 0px 0px;
  margin-left: -15px;
  margin-right: -15px;
  text-align: center;
}
section.data span.number {
  font-size: 46px;
  font-weight: bold;
}
section.data span.number span {
  font-size: 18px;
  font-weight: normal;
  display: block;
}
section.data span.data {
  font-size: 46px;
  font-weight: bold;
}
section.data span.data span {
  font-size: 18px;
  font-weight: normal;
  display: block;
}
section.data span.add {
  font-size: 14px;
  padding: 10px;
}
section.data span.date {
  font-size: 14px;
  padding: 10px;
}
article {
  padding: 0px 25px;
}
article img,
article video,
article .flash-video {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  -moz-box-sizing: border-box;
  border: 5px solid #FFF;
}
article div.labels {
  margin-top: -10px;
}
article div.labels img {
  max-width: 125px;
  max-heigth: 50px;
}
article section.post-data {
  margin-top: -10px;
  margin-bottom: 10px;
  line-height: 1em;
}
article section.post-data span {
  font-size: 14px;
}
article div.post-content img {
  max-width: 700px;
}
article div.post-content img,
article div.post-content video,
article div.post-content .flash-video {
  margin: 10px;
}
article section.index-pagination {
  margin: 25px 0px;
}
article hr:last-of-type {
  border-style: dotted none none;
  border-width: 3px;
  border-color: #e0e0e0;
  clear: both;
}
article h2 a,
article h2 a:visited,
article h2 a:hover,
article h2 a:active,
section.archive h2 a,
section.archive h2 a:visited,
section.archive h2 a:hover,
section.archive h2 a:active {
  color: black;
}
article h3 a,
article h3 a:visited,
article h3 a:hover,
article h3 a:active,
section.archive h3 a,
section.archive h3 a:visited,
section.archive h3 a:hover,
section.archive h3 a:active {
  color: black;
}
article p:not([style]):not([class]) img,
article div:not([style]):not([class]) img {
  display: block;
}
nav {
  font-weight: bold;
  text-align: center;
}
div.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}
div.container-fluid.content {
  background: #f7f7f7 url('/assets/images/content-background.png');
}
div.content {
  border-top: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}
div.social-networks {
  text-align: center;
  vertical-align: middle;
}
div.social-networks div.social-network {
  float: left;
  padding-right: 10px;
}
div.share-this.only-twitter {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 10px;
  margin-bottom: 5px;
}
aside {
  padding: 0px 20px;
  border-top: 1px solid #e0e0e0;
}
aside * {
  font-size: 14px;
  line-height: 20px;
}
aside section h3 {
  font-size: 18px;
  line-height: 18px;
}
aside section h3,
aside section ul > li {
  padding: 0.5em 0px;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0px 1px white;
}
span.stack {
  color: red;
}
span.copyleft {
  transform: rotate(180deg);
  width: 10px;
  display: inline-block;
}
div.gist * {
  margin: 0px;
  padding: 0px;
  border: 0px none;
  font-family: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size-adjust: inherit;
  font-stretch: inherit;
  -moz-font-feature-settings: inherit;
  -moz-font-language-override: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
div.gist .line-numbers,
div.gist .line-data {
  line-height: 18px;
  font-size: 14px;
  vertical-align: bottom;
}
div.gist div.line {
  padding-left: 5px;
}
div.share-this {
  text-align: center;
  margin-bottom: 10px;
}
div.share-this,
div.share-this span,
div.share-this div {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
p.continue-reading {
  font-size: 14px;
}
#horizontalSkycraper {
  width: 728px;
  height: 90px;
}
#bigRectangle {
  width: 336px;
  height: 280px;
}
#wideSkycraper {
  width: 160px;
  height: 600px;
}
